* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom right, white, dodgerblue);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    background-color: rgb(124, 187, 250);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    gap: 15px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
}

p, h3 {
    margin-left: 15px;
}

input {
    font-size: 18px;
    padding: 10px 20px;
    background-color:  rgb(199, 224, 250);
    border: 1px solid grey;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
}

button {
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(to bottom right, white, dodgerblue);
    cursor: pointer;
    width: 250px;
    align-self: center;
    font-family: 'Courier New', Courier, monospace;
}

button:hover {
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.3);
}